*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --maincolor: #A3C962;
    --white: #ffffff;
}

header{
    position: relative;
    background-image: url("./images/navimg.jpg");
    width: 100%;
    height: 679px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.logo{
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
    color: var(--white);
    padding: 25px 0 0 60px;
}
hader .navbar,ul{
    list-style: none;
}
.navbar,ul li{
    position: relative;
    float: left;
}
header .navbar,ul li a{
    text-decoration: none;
    color: var(--white);
    padding: 30px 20px 0 0;
    font-size: 20px;
    margin-right: 25px;

}
.home{
    color: var(--maincolor);
}
header .navbar,ul li a:hover{
    color: var(--maincolor);
}
.nav-content{
    color: var(--white);
    top: 200px;
}
.nav-content1{
    font-size: 2rem;
    text-align: center;
}
.nav-content2{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}
.nav-content3{
    text-align: center;
    text-wrap: wrap;
}
.nav-button,button{
    border:none;
    border-radius: 30px;
    margin: 0 15px 0 0;
    padding:10px 15px ;
    font-size: 15px;
    font-weight: bold;


}
.nav-button1{
    outline: 3px solid var(--white);
    color: var(--maincolor);

}
.nav-button2{
    outline: 3px solid var(--white);
    color: var(--white);
    background-color: var(--maincolor);
}
.nav-button1:hover{
    background-color: black;
}
.nav-button2:hover{
    background-color: black;
}