*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --maincolor: #A3C962;
    --white: #ffffff;
}

header{
    position: relative;
    background-image: url("./images/navimg.jpg");
    width: 100%;
    /* height: 679px; */
    height: 100vh;


}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
* .logo{
    font-weight: bolder;
    font-size: 40px;
    text-decoration: none;
    color: var(--white);
    padding: 15px 0 0 60px;
}

.navbar,ul{
    list-style: none;
}
.navlist,li{
    position: relative;
    float: left;
}
.nav-list,ul li a{
    text-decoration: none;
    color: var(--white);
    padding: 30px 20px 0 0;
    font-size: 20px;
    margin-right: 25px;

}
.home{
    color: var(--maincolor);
}
header .navbar,ul li a:hover{
    color: var(--maincolor);
}
.nav-content{
    position: relative;
    width: 800px;
    height: 200px;
    color: var(--white);
    top: 100px;
    margin: 20px auto;
}
.nav-content1{
    margin: 10px 0;
    font-size: 2rem;
    text-align: center;
}
.nav-content2{
    margin: 10px 0 15px 0;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}
.nav-content3{
    margin: 10px 0;
    text-align: center;
    text-wrap: wrap;
}
.nav-button{
    position: absolute;
    top: 375px;
    left: 40%;

}
.nav-button,button{
    border:none;
    border-radius: 30px;
    margin: 0 15px 0 0;
    padding:10px 25px ;
    font-size: 15px;
    font-weight: bold;


}
.nav-button1{
    outline: 3px solid var(--white);
    color: var(--maincolor);

}
.nav-button2{
    outline: 3px solid var(--white);
    color: var(--white);
    background-color: var(--maincolor);
}
.nav-button1:hover{
    background-color: black;
}
.nav-button2:hover{
    background-color: black;
} 